@import "tailwindcss";

:root {
  --main_black: #000000;
  --white: #F3F4F6FF;
  --main_blue: #25AFF4FF;
  --main_gray: #171A1FFF;
  --light_gray: #1E2128FF;
}

main{
  background-color: var(--main_black);
}